body {
    background: black;
    margin: 0px;
}
.chart{
    margin-left: 30px;
}
/* html {
    background: black;
    height: 100%;
    margin: 0;
    padding: 0;
} */
/* div {
    /* height: 150px;
    width: 100%; */
    

p {
    font-family: 'Epilogue', sans-serif;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    line-height: 1.5em;
}
.dashboard{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 400px;
    height: 100%;
    border: white;
    border-style: solid;
    border-width: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: scroll;
}
.container{
    position: fixed;
    top: 0;
    left:0;
    justify-content: left;
    flex-wrap: wrap;
    flex-flow: row;
    display: flex;
    /* align-content: center; */
    width: 100%;
    height: 100%;
    border: white;
    border-style: solid;
    border-width: 10px;;
    padding-left: 410px;
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: scroll;
}
.item{
    width: 350px;
    justify-content: center;
    margin-top: 25px;
    /* margin: 0px; */
    padding: 0px;
}
.svgContainer{
    width: 1500px;
    /* height: 100%; */
    align-content: flex-start;
    justify-content: left;
    margin-top: 100px;
    margin-left: -25px;
    /* margin: 0px; */
    padding: 0px;
}
.svgItem{
    width: 100%;
    height: 100%;
    align-content: flex-start;
    justify-content: left;
    margin-top: 100px;
    margin-left: -25px;
    /* margin: 0px; */
    padding: 0px;
}
.border-gradient-green {
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}
.ranger{
    width: 400px;
    height: 310px;
    justify-content: center;
    border-left: 0px;
    border-right: 0px;
    border-top: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: white;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    margin: 0px;
    /* padding: 0px; */
}
h1 {
    display: inline-flex;
    font-size: 2em;
    margin-top: 50;
    margin-bottom: 0.67em;
    margin-left: 75px;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
    color: white;
}
h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5em;
    color: white;
    /* margin-left: 30px; */
    margin-right: 30px;
    /* padding-left: 10px; */
    padding-right: 10px;
    margin-bottom: 0px;
    /* line-height: 1.5em; */
}
p {
    display: flex;
    font-size: 18;
    margin-top: 50;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
    color: white;
    line-height: 1.5em;
}
.mapTitle {
    display: flex;
    position: fixed;
    top:0;
    left:0;
    /* width: 100%; */
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 460px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
    color: white;
    background: black;
}
.dashTitle {
    display: flex;
    position: fixed;
    top:0;
    left:0;
    /* width: 350px; */
    /* margin-left: 20px; */
    display: block;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    text-align: center;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
    color: white;
    background: black;
}
.rockRanger {
    margin-top: 930px;
    margin-left: 44px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    color: white;
    background: black;
    transform: rotate(-90deg);
    transform-origin: left bottom;
}
.meter {
    margin-top: 0px;
    /* line-height: 3em; */
}
label {
    display: inline-flex;
    font-size: 1em;
    margin-top: 50;
    margin-bottom: 0.67em;
    margin-left: 50px;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
    color: white;
}
.axisWhite {
    stroke: white;
}
.colorMeter{
    margin-top: 87px;
    margin-bottom: 0px;
    z-index: 0;

}